@import url("../../node_modules/@tabler/icons-webfont/dist/tabler-icons.css");

.banner img {
    width: 100%;
    border-radius: 15px;
}

.pilih-liga img {
    max-height: 100px;
}

.pilih-liga .card {
    border-radius: 15px;
}

.best-products .card {
    border-radius: 15px;
}

.gambar-product {
    border-radius: 15px;
}
